.lesson-wrapper, .activity-wrapper{
    text-align:center;
}

.text_box{
	border: .125em solid #00B4FF;
	margin-bottom:.25em;
}

.number{
	font-size: .7em;
	border: .125em solid #00B4FF;
	border-radius: 2em;
}