<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.fallingdust"
		version   = "0.11.27">


	<name>aa Sunday School</name>
	<description>A community based app designed to help user teach and prepare for Sunday School.</description>
	<author href="http://phonegap.com" email="njcrowther22@gmail.com">Nathan Crowther</author>


	<gap:platform name="ios" />
	<preference name="permissions" value="none"/>


    <!-- Core plugins -->
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.splashscreen" />


	<!-- Define app icon and splash -->
	<icon src="img/icon.png" />
	<gap:splash src="img/splash.png" />
</widget>